body {
    display: flex;
    flex-direction: column;
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #1f2937;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-right: 250px;
}

.link-container {
    display: flex;
    gap: 20px;
}

.link-container a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.container-3 {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-item {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 8px 30px;
    background-color: #3882f6;
    border-radius: 12px;
    border: none;
}

.button a {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.sea-image {
    width: 400px;
    height: auto;
}

.container-4 {
    background: white;
    margin-top: 90px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    font-size: 36px;
    font-weight: 900;
    margin: 40px 0px;
}

.container-5 {
    display: flex;
    justify-content: center;
}

.image{
    width: 230px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 12px;
    margin: 30px 30px 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext {
    width: 230px;
    text-align: center;
}

.container-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.thor-text {
    font-size: 36px;
    font-family: light italic;
    color: #1f2937;
    width: 740px;
    padding: 90px 0px 0px;
}

.thor-firm {
    font-size: large;
    font-weight: bold;
    text-align: right;
    width: 740px;
    padding-bottom: 90px;
}

.container-7 {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 90px 80px;
}

.container-8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    border-radius: 8px;
}

.container-9 {
    color: white;
}

.text {
    font-size: 24px;
    font-weight: bolder
}

.text-2 {
    font-size: 16px;
}

.button.button-2 {
    border: 3px solid white;
}

.container-10 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90px;
    font-weight: 700;
}